:root {
    --background: #070709;
    --background-alt: #070709;
    --background-accent: #000;
    --background-inv: #fff;

    --foreground: #b1b1b1;
    --foreground-alt: #f1f1f1;
    --foreground-accent: #fff;
    --foreground-inv: #000;

    --accent: #8f53f3;
    --accent-alt: #ad7fff;
    --accent-accent: #5398f3;
}