:root {
    --background-main: #0c0c0c;
    --background-accent: #0c0c0c;
    --background-highlight: #000;

    --foreground-highlight: #fff;

    --border-main: #292929;

    --border-radius: 1rem;
    --transition-time: 0.25s;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}

* {
    padding: 0; margin: 0;
    user-select: none;
    font-family: OpenSans, sans-serif;
}

*:hover {
    transition: all var(--transition-time) ease;
}

body {
    background: var(--background-highlight);

    .flex {
        display: flex !important;
    }

    .flex.column {
        display: flex !important;
        flex-direction: column !important;
    }

    .flex.row {
        display: flex !important;
        flex-direction: row !important;
    }

    #root {
        position: absolute;
        width: 100%;
        height: 100%;
        color: white;

        #titlebar {
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            height: 2rem;

            .left {
                position: absolute;
                left: 0; top: 0;

                h4 {
                    display: none;
                    font-size: 1rem;
                    padding: 0.225rem 1rem 0.3rem 0.35rem;
                }

                .buttons {
                    .backwards, .forwards {
                        position: relative;
                        padding: 0;
                        margin: 0;

                        i {
                            font-size: 1.2rem;
                            margin: 0.1rem 0 0 0;
                            padding: 0.3rem 0.5rem;
                            background: var(--background-main);
                            border-radius: var(--border-radius);
                        }

                        i:hover {
                            background: var(--foreground-highlight);
                            color: var(--background-highlight);
                            cursor: pointer;
                            opacity: 0.5;
                        }
                    }
                }
            }
        }

        #app {
            position: relative;
            width: 100%;
            height: calc(100% - 2rem);

            #main {
                position: relative;
                height: 100%;
                padding: 0;
                margin: 0;

                .flex {
                    width: 100%;
                    height: 100%;
                }

                #menu {
                    position: relative;
                    width: fit-content;
                    background: var(--background-highlight);

                    ul {
                        list-style: none;
                        position: relative;
                        width: 100%;

                        li {
                            border-radius: var(--border-radius);
                            width: fit-content;
                            white-space: nowrap;
                            padding: 0.25rem;
                            margin: 0.5rem;
                            background: red;

                            span {
                                display: none;
                                position: absolute;
                                margin: 0 0 0 1.5rem;
                                background: var(--background-highlight);
                                color: var(--foreground-highlight);

                                border-radius: var(--border-radius);
                                border: 1px var(--border-main) solid;
                                padding: 0.25rem 1rem;
                            }
                        }

                        li:hover {
                            span {
                                display: unset;
                            }
                        }
                    }
                }

                #content {
                    border-top-left-radius: calc(var(--border-radius) * 1.5);
                    border-left: 1px var(--border-main) solid;
                    border-top: 1px var(--border-main) solid;
                    width: 100%;
                    background: var(--background-main);

                    padding: 1rem;

                    * {
                        border-radius: var(--border-radius);
                    }

                    .card {
                        border: 1px var(--border-main) solid;
                        background: var(--background-highlight);
                        padding: 1rem;
                    }
                }
            }
        }
    }
}