#content {
    background: url("https://www.wolkenspeicher.cloud/index.php/s/5KHwRFRHF7bGQeg/download") fixed !important;
    background-size: cover !important;
}

#library {
    background: linear-gradient(-45deg, #00000090, #00000085);
    position: relative;
    width: 100%;
    height: 100%;

    * {
        transition: all var(--nex-animation-speed) ease;
    }

    .submenu {
        width: 100%;
    }

    #launch-button {
        position: absolute;
        bottom: 0.6rem;
        right: 0.6rem;
        font-size: 2rem;
        font-weight: bold;
        width: calc(100% - 1.2rem) !important;
        padding: 1rem 0;
        box-shadow: 0 0 0.5rem black;
        border: 2px solid var(--bs-border-color-translucent);
        letter-spacing: 0.5rem;
    }
}